<header>
        <img src="../Images/logo.png" alt="">
        <nav>
            <ul>
               <li><a class="link" id="link2" href="../HTML/cadastro.html">Home</a></li>
               <li><a class="link" id="link2" href="">Sobre Nós</a></li>
               <li><a class="link" id="link2" href="">Preços</a></li>
               <li><a class="link" id="link2" href="">Contatos</a></li>
            </ul>
       </nav>
       <div>
            <a href="/register" id="sign-in" class="link">Entrar</a>
            <a href="/register" id="sign-up" class="link">Cadastrar</a>
       </div>
</header>