<header>
        <img src="../Images/logo.png" alt="">
        <nav>
            <ul>
               <li><a class="link" href="/">Home</a></li>
               <%if(path) {%>
                    <%if(path == "A") {%>
                         <li><a class="link" href="/">Sobre Nós</a></li>
                         <li><a class="link" href="/">Preços</a></li>
                         <li><a class="link" href="/">Contatos</a></li>
                    <% } else { %>
                         <li><a class="link" href="#sobre-nos">Sobre Nós</a></li>
                         <li><a class="link" href="#precos">Preços</a></li>
                         <li><a class="link" href="#contatos">Contatos</a></li>
                    <% } %>  
               <% } %>   
            </ul>
       </nav>
       <div>
            <a href="/login/index" id="sign-in" class="link">Entrar</a>
            <a href="/register/index" id="sign-up" class="link">Cadastrar</a>
       </div>
</header>