<%- include('includes/headerNaoLogado') %>
<%- include('includes/nav') %> 
    <section class="paymentContainer">
        <h1 class="mainH1">Escolha a sua forma de pagamento</h1>
        <div class="teste">
            <button onclick="window.location.href='./pagarComCartao.html'" class="btnFormaDePagamento">
                <img src="/assets/Images/image 2.png" alt="">
                <h1>Cartão de credito</h1>
                <img src="/assets/Images/Sort Right.png" alt="">
            </button>
        </div>
        <div class="teste">
            <button onclick="window.location.href='./pagarComBoleto.html'" class="btnFormaDePagamento">
                <img src="/assets/Images/Barcode.png" alt="">
                <h1>Boleto</h1>
                <img src="/assets/Images/Sort Right.png" alt="">
            </button>
        </div>
        <div class="teste">
            <button onclick="window.location.href='./pagarComPix.html'" class="btnFormaDePagamento">
                <img src="/assets/Images/Pix.png" alt="">
                <h1>Pix</h1>
                <img src="/assets/Images/Sort Right.png" alt="">
            </button>
        </div>
    </section>
<%- include('includes/footerSemContato')%>