<%- include('includes/headerNaoLogado') %>
<%- include('includes/nav') %>  
    <section class="container">
        <div class="titulo-autenticacao">
            <h1><blue>LOGIN</blue><h1/>
        </div>

        <form class="container-login" id="formLogin" action="http://localhost:3000/login/login" method="POST">
            <label for="emailInput" class="titulo-inputs">Email</label>
            <input type="email" class="inputs" id="emailInput" name="email" required>

            <label for="senhaInput" class="titulo-inputs">Senha</label>
            <input type="password" class="inputs" id="senhaInput" name="senha" required>

            <%- include('includes/messagesError') %>

            <a class="link underline" id="linkEsqueci" style="margin-top: 10px; margin-bottom: 10px;" href="/login/esqueci/index">Esqueci minha senha</a>

            <button type="submit" class="botao" id="loginBtn">Entrar</button>

            <p style="margin-top: 10px; margin-bottom: 0px;">Ainda não possui uma conta?</p> 
            <a href="/register/index" class="link" style="text-align: center; text-decoration: underline; font-size: 14px;">Cadastre-se</a>

            <p>© 2025 - L&M</p>
        </form>
    </section>
<%- include('includes/footerSemContato')%>