<%- include(includes/headerNaoLogado) %>
    
    <section>
        <h1>Pagar com Cartão</h1>
        <form class="formPagamento">
            <div class="cadastroFormulario">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="cadastroFormulario">

                <label for="telefone">Sobrenome:</label>
                <input type="text" name="telefone" placeholder="Digite seu Telefone" required>
            </div>

            <div class="cadastroFormulario">
                <label for="endereço">CPF:</label>
                <input type="text" name="endereço" placeholder="Digite seu Endereço" required> 
            </div>
            <div class="cadastroFormulario">
                <label for="nome">Número de Cartão:</label>
                <input type="text" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="cadastroFormulario">

                <label for="telefone">Data de Validade MM/AA:</label>
                <input type="text" name="telefone" placeholder="Digite seu Telefone" required>
            </div>
            <div class="cadastroFormulario">

                <label for="telefone">Código de Segurança CVV:</label>
                <input type="text" name="telefone" placeholder="Digite seu Telefone" required>
            </div>
        </form>
        <button style="align-self: center;" class="botao">PAGAR</button>
   </section>
<%- include(includes/footerSemContato)%>