<%- include('includes/headerNaoLogado') %>
<%- include('includes/nav') %> 
    <section>   
        <h1>Pagar com boleto</h1>
        <form class="formPagamento" action="http://localhost:3000/pagamento/boleto/boleto" method="POST">
            <div class="cadastroFormulario">
                <label for="nome">Nome completo:</label>
                <input type="text" name="nome" placeholder="Digite seu nome" required>
            </div>
    
            <div class="cadastroFormulario">
    
                <label for="telefone">E-mail:</label>
                <input type="text" name="telefone" placeholder="Digite seu Telefone" required>
            </div>
    
            <div class="cadastroFormulario">
                <label for="endereço">Endereço:</label>
                <input type="text" name="endereço" placeholder="Digite seu Endereço" required> 
            </div>
            <div class="cadastroFormulario">
                <label for="nome">CEP:</label>
                <input type="text" name="nome" placeholder="Digite seu nome" required>
            </div>
    
            <div class="cadastroFormulario">
    
                <label for="telefone">CPF/CNPJ</label>
                <input type="text" name="telefone" placeholder="Digite seu Telefone" required>
            </div>
            
            <%- include('includes/messagesError') %>

            <button type="submit" style="align-self: center;" class="botao">PAGAR</button>
        </form>
    </section>
<%- include('includes/footerSemContato')%>